.section1{
    width: 300px;
    border: solid 2px rgb(227, 224, 224);
    border-top-left-radius:10px ;
    height: 500px;
}


.section2{
    border: solid 2px rgb(227, 224, 224);
    border-top-right-radius:10px ;
    width: 600px;
    height: 550px;
}

.dissc{
    height: 300px;
    min-height: 300px;
}

.ref{
    border-bottom: solid 2px rgb(227, 224, 224);

}