.section1{
    width: 300px;
    border: solid 2px rgb(227, 224, 224);
    border-top-left-radius:5px ;
    
}


.section2{
    background-color: yellow;
    width: 300px;
    height: 400px;
}